[Unit]
Description=Daisy Head Vision and Control Service
After=network.target multi-user.target

[Service]
Type=simple
User=littledaisy
WorkingDirectory=/home/littledaisy/littledaisy_LittleDaisiesMKII_ME462/head_project/head_project_v17_daisyfasterandbetter/robot_head_project
ExecStart=/home/littledaisy/python_envs/daisy_fast/bin/activate /home/littledaisy/littledaisy_LittleDaisiesMKII_ME462/head_project/head_project_v17_daisyfasterandbetter/robot_head_project/main.py
Restart=always
RestartSec=5
Environment="PYTHONUNBUFFERED=1"
Environment="DISPLAY=:0"

[Install]
WantedBy=multi-user.target
